@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: "Principal";
    src: url(../fontes/Inlanders\ Demo.otf);
}
/*ANMAÇÃO*/
  @keyframes aparecer {
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(0);
    }
  }

  @keyframes insta {

    0%{
      border: 4px #405DE6 solid;
    }
    10%{
      border: 4px #5B51D8 solid;
    }
    20%{
      border: 4px #833ab4 solid;
    }
    30%{
      border: 4px #C13584 solid;
    }
    40%{
      border: 4px #E1306C solid;
    }
    50%{
      border: 4px #E1306C solid;
    }
    70%{
      border: 4px #FD1D1D solid;
    }
    80%{
      border: 4px #F56040 solid;
    }
    90%{
      border: 4px #777737 solid;
    }
    100%{
      border: 4px #FCAF45 solid;
    }
  }

  @keyframes rodar {
    0% {
    transform: translateX(0) rotate(0);
    }
    20% {
        transform: translateX(-10px) rotate(-20deg);
    }
    30% {
        transform: translateX(10px) rotate(20deg);
    }
    50% {   
        transform: translateX(-10px) rotate(-10deg);
    }
    60% {
        transform: translateX(10px) rotate(10deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
  }
/*FIM ANIMAÇOÂO*/
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #22F2F2;
    --cor2: #C6FFFF;
    --cor3: #002C4C;
    --cor4: white;
    --cor5: #0F5FA6;
    --cor6: #1EB9B9;
    --fontep: "Principal" , sans-serif;
    --fontes: "Roboto", "Arial", sans-serif;
    
}
body , html{
    background-color: var(--cor2);
  
}
html{
  overflow-x: hidden;
}
nav{
    height: 50px;
}
article{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

article > h1{
  font-size: 30px;
  font-family: var(--fontep);
  color: var(--cor3);
}
article.inicio{
    background-image: url(../imagens/fundo.png);
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}
article.inicio > h1{
  color: var(--cor1);
}

article.inicio > p{
    color: var(--cor4);
    font-size: 13px;
    background: rgba(57, 57, 57, 0.863);
    font-family: var(--fontes);
    text-align: center;
}

/*Menu para computador*/
  nav.menu-desktop{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor1);
  }

  nav.menu-desktop > div.container > a{
    text-decoration: none;
    color: var(--cor3);
    margin-left: 10px;
  }

  nav.menu-desktop > div.container > a:hover{
    border-radius: 10px;
    border:2px solid var(--cor6);
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 10px;
    transition: 0.2s;
  }


/*Fim menu Desktop*/
/*MENU*/

nav.menu-mobile{
  display: block;
}
.topnav {
    overflow: hidden;
    background-color: var(--cor1);
    position: relative;
    border-color: var(--cor3);
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .menu-icon{
    width: 20px;
    height: 20px;
    float: right;
    padding: 10px;
  }

  
  .topnav a {
    color: var(--cor3);
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a:hover {
   color: var(--cor4);
   background-color: var(--cor3);
  }
  
  a.icon:hover{
    background-color: var(--cor1);
  }
  
  .topnav a.icon {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
    background-image: url(../imagens/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
  }
  
  #logo{
    width: 50px;
    height: 50px;
    align-self: flex-start;
  }
/*FIM MENU*/
/*SUBMENU*/
nav.submenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3px;
}

nav.submenu > a {
  text-decoration: none;
}

nav.submenu > a > div.subcategoria{
  height: 20px;
  width: 60px;
  border: 2px solid var(--cor3);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1EB9B9;
}

nav.submenu > a > div.subcategoria > p{
 color: var(--cor4);
 font-size: 10px;
 padding: 5px;
 text-align: center;
 font-weight: bold;
}

/*FIM SUBMENU*/

article.headline{ 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 5px solid var(--cor3);
    border-bottom: 5px solid var(--cor3);
}

article.headline > h1{
    text-align: center;
    color: var(--cor3);
    font-size: 25px;
    width: 100%;
    font-family: var(--fontep);
    padding: 10px;
}

article.headline > p{
    font-size: 13px;
    font-family: var(--fontes);
    width: 300px;
    padding: 10px;
    align-self: center;
    text-align: justify;
    text-indent: 20px;
}

article.headline > iframe{
    width: 805;
    height: 200px; 
    flex-shrink: 30;
    padding: 20px;
}

article.faq{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: aparecer;
    animation-duration: 0.5s;
}

article.faq > h1{
    color: var(--cor3);
    font-size: 30px;
    font-family: var(--fontep);
    padding: 10px;
}

/*CAROSSEL*/
.slider {
    width: 290px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin: 5px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: var(--cor3);
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 280px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: var(--cor4);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    border: 2px var(--cor5) solid;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
  }

  .slides > div > h1{
    color: black;
    font-family: "Roboto", Condensed;
    font-size: 15px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }

  .slides > div > p{
    color: black;
    font-family: "Roboto" Condensed;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
    text-align: justify;
    text-indent: 10px;
    padding: 20px;
    overflow-y: scroll;
  }
  .author-info {
    background: rgba(255, 255, 255, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
    text-decoration: none;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--cor5);
    color: var(--cor4);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }

  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
/*CAROSSEL*/

article.opcoes{ 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article.opcoes > h1{
    color: var(--cor3);
    margin-top: 45px;
    font-size: 25px;
    font-family: var(--fontep);
}

article.opcoes > div.escolha{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

article.opcoes > div.escolha > h1{
    color: var(--cor4);
    text-align: center;
    font-family: var(--fontep);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


div.escolha > a{
    text-decoration: none;
}

div.escolha > a > .btn{
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--cor2);
    background-color: var(--cor3);
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: var(--cor4);
}


div.escolha > a > .btn:hover{
    border-radius: 20px;
    border: 2px solid var(--cor1);
    background-color: var(--cor2);
    color: var(--cor3);
}


article.opcoes > #esc1{
    background-image: url(../imagens/acessorios.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

article.opcoes > #esc2{
    background-image: url(../imagens/celulares.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

article.opcoes > #esc3{
    background-image: url(../imagens/consertos.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

article#local h1{
    align-self: center;
    color: var(--cor3);
    margin-top: 45px;
    font-size: 20px;
    font-family: var(--fontep);
    margin-bottom: 10px;
}

article#local > iframe{
    width: 80%;
    height: 200px;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 0px 13px black;
}

article.redes{
    flex-direction: column;
}

article.redes > h1{
    text-align: center;
    color: var(--cor3);
    margin-top: 45px;
    width: 100%;
    font-size: 20px;
    font-family: var(--fontep);
    margin-bottom: 10px;
}
article.redes > div#contatos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
article.redes > div#contatos > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lawngreen;
    border: 2px var(--cor3) solid;
}

article.redes > div#contatos > a >  div:hover{
  width: 110px;
  height: 110px;
}

article.redes > div#contatos > a > div > img{
    width: 50px;
    height: 50px;
}

div#insta{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

  animation-name: insta;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}



footer >p{
    text-align: center;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Configuração dos produtos*/

article.produtos{
  display: flex;
  align-items:center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
}

article.produtos > h1{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

article.produtos > div.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  border: 3px solid var(--cor3);
  border-radius: 10px;
}

article.produtos > .card.promo{
  border: 3px solid red;
}

article.produtos > .card.promo::before{
  content: 'OFERTA';
  height: 20px;
  width: 100%;
  background-color: red;
  color: var(--cor4);
  text-align: center;
  font-weight: bolder;
  font-size: 13px;
  font-family: var(--fontes);
}


.card > img{
  width: 100%;
  height: 120px;
  border-bottom: var(--cor3) solid 3px;
  border-radius: 2px 2px 0px 0px;
}

.card > img.card.promo{
  border-bottom: red solid 3px;
  border-radius: 0px;
}

.card > div.btn{
  width: 100%;
  height: 20px;
  background-color: var(--cor3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div.promo{
  background-color: red;
}

.card > div.btn > a{
  text-decoration: none;
  color: var(--cor4);
  font-size: 12px;
  font-family: var(--fontes);
}

.card > p.nome{
  font-size: 13px;
  font-weight: bolder;
  font-family: var(--fontes);
  text-align: center;
}

.card > p.desc{
  font-family: var(--fontes);
  text-align: justify;
  font-size: 10px;
  padding: 2px;
}

.card > p.valor{
  font-size: 20px;
  font-family: var(--fontes);
}

.card > p.valor::before{
  content: 'R$';
}

/*Configurqação dos serviços*/

article.servicos{
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

article.servicos > h1{
  margin: 20px;
  text-align: center;
}

article.servicos > img{
  width: 80%;
  height: 200px;
  border-radius: 10px;
  border: 5px solid var(--cor5);
}

article.servicos > p{
  font-family: var(--fontes);
  width: 80%;
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
}

article.servicos > div.btn{
  width: 150px;
  height: 50px;
  background-color: var(--cor5);
  border: 4px solid var(--cor1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

article.servicos > div.btn:hover{
  background-color: var(--cor6);
  border-color: black;
  transition: 0.5s;
}

div.btn > a{
  text-decoration: none;
}
div.btn > a > p{
  color: var(--cor4);
  font-family: var(--fontes);
  font-weight: bolder;
}

article.secundario{
  background-color: var(--cor1);
}

article.secundario > div.btn{
  border-color: var(--cor2);
}
